<section is="image-with-text" {% if section.settings.layout == 'right' %}class="alternative"{% endif %}>
  {% if section.settings.image != blank %}
  <img
    src="{{ section.settings.image | img_url: 'master' }}"
    alt="{{ section.settings.image.alt | escape }}"
    is="in-action"
  />
  {% else %}
  {{ "image" | placeholder_svg_tag: "placeholder-svg" }}
  {% endif %}

  <div>
  {% if section.settings.title != blank %}
    <h3>{{ section.settings.title | escape }}</h3>
  {% endif %}

  {% if section.settings.text != blank %}
    <p>{{ section.settings.text }}</p>
  {% endif %}

  {% if section.settings.link_text != blank %}
  <a
    href="{{ section.settings.link_url }}"
    is="signpost"
  >
    {{ section.settings.link_text | escape }}
  </a>
  {% endif %}

  </div>

</section>
