{%- if recommendations.products_count > 0 -%}
  {%- for product in recommendations.products -%}
    <a is="product-promo" href="{{ product.url }}">
      <img
        src="{{ product.featured_media | img_url: '800x' }}"
        alt="{{ product.featured_image.alt }}"
        loading="lazy"
        width="800"
        height="600"
      />
      <div>
        <h3>{{ product.title }}</h3>
        <p>{{ product.price | money }}</p>
      </div>
    </a>
  {%- endfor -%}
{%- endif -%}
