<a is="product-promo" href="{{ product.url | within: collection }}">
  <img
    alt="{{ product.featured_image.alt }}"
    src="{{ product.featured_media | img_url: '800x' }}"
    loading="lazy"
    width="800"
    height="600"
  />
  <div>
    <h3>{{ product.title }}</h3>
    <p>{{ product.price | money }}</p>
  </div>
</a>
