
<article is="product">
  <h1>{{ product.title }}</h1>
  {%- assign featured_image = product.featured_image -%}
  <img src="{{ featured_image | img_url: '1024x'}}" alt="{{ featured_image.alt | escape }}">

  {% form 'product', product %}
    <p is="lede">{{ product.price | money }}</p>
    <select name="id" hidden>
      {%- for variant in product.variants -%}
        <option selected="selected" value="{{ variant.id }}"></option>
      {%- endfor -%}
    </select>
    {%- if product.available -%}
      <button type="submit">
        Add to Cart
      </button>
    {%- else -%}
      <p>Sold Out</p>
    {%- endif -%}
    {% include 'delivery' %}
  {% endform %}

  <div is="gallery">
    {% for media in product.media %}
      <img
        class="product-single__thumbnail-image"
        src="{{ media | img_url: '600x' }}"
        alt="{{ thumbnailAlt }}
      ">
    {% endfor %}
  </div>

  <div>{{ product.description }}</div>

  <ul is="social-sharing">
    <li>
      <a target="_blank" href="//www.facebook.com/sharer.php?u={{ shop.url | append: product.url }}" class="btn btn--small btn--share share-facebook">
        Facebook
        <span class="share-title" aria-hidden="true">{{ 'general.social.share_on_facebook' | t }}</span>
        <span class="visually-hidden">{{ 'general.social.alt_text.share_on_facebook' | t }}</span>
      </a>
    </li>
    <li>
      <a target="_blank" href="//twitter.com/share?text={{ product.title | url_param_escape }}&amp;url={{ shop.url | append: product.url }}" class="btn btn--small btn--share share-twitter">
        Twitter
        <span class="share-title" aria-hidden="true">{{ 'general.social.share_on_twitter' | t }}</span>
        <span class="visually-hidden">{{ 'general.social.alt_text.share_on_twitter' | t }}</span>
      </a>
    </li>
    <li>
      <a target="_blank" href="//pinterest.com/pin/create/button/?url={{ shop.url | append: product.url }}&amp;media={{ product.featured_media | img_url: '1024x1024' }}&amp;description={{ product.title | url_param_escape }}" class="btn btn--small btn--share share-pinterest">
        Pinterest
        <span class="share-title" aria-hidden="true">{{ 'general.social.share_on_pinterest' | t }}</span>
        <span class="visually-hidden">{{ 'general.social.alt_text.share_on_pinterest' | t }}</span>
      </a>
    </li>
  </ul>
</article>
